body, html {
  padding: 0;
  margin: 0;
  font-family: 'fontawesome', Calibri, Arial, sans-serif;
  color: #666;
  background: #111;
  min-height: 800px;
}

/* Reset */
*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  color: #ccc;
  text-decoration: none;
}

a:hover {
  color: #fff;
}

/* GRID LAYOUT */
.grid {
  width: 100%;
  z-index: 100;
}

.box {
  color: #666;
  background-color: #222;
  float: left;
}

/* 4/5 columns/rows will only look decent on large resolutions */

/* 1 Column */
.grid.grid-1-1 .box { width: 100%; height: 100vh; }
.grid.grid-1-2 .box { width: 100%; height: 49.8vh; }
.grid.grid-1-3 .box { width: 100%; height: 33.2vh; }
.grid.grid-1-4 .box { width: 100%; height: 24.8vh; }
.grid.grid-1-5 .box { width: 100%; height: 19.8vh; }

/* 2 Columns */
.grid.grid-2-1 .box { width: 49.8%; height: 100vh; }
.grid.grid-2-2 .box { width: 49.8%; height: 49.8vh; }
.grid.grid-2-3 .box { width: 49.8%; height: 33.2vh; }
.grid.grid-2-4 .box { width: 49.8%; height: 24.8vh; }
.grid.grid-2-5 .box { width: 49.8%; height: 19.8vh; }

/* 3 Columns */
.grid.grid-3-1 .box { width: 33.3%; height: 100vh; }
.grid.grid-3-2 .box { width: 33.3%; height: 49.8vh; }
.grid.grid-3-3 .box { width: 33.3%; height: 33.2vh; }
.grid.grid-3-4 .box { width: 33.3%; height: 24.8vh; }
.grid.grid-3-5 .box { width: 33.3%; height: 19.8vh; }

/* 4 Columns */
.grid.grid-4-1 .box { width: 24.8%; height: 100vh; }
.grid.grid-4-2 .box { width: 24.8%; height: 49.8vh; }
.grid.grid-4-3 .box { width: 24.8%; height: 33.2vh; }
.grid.grid-4-4 .box { width: 24.8%; height: 24.8vh; }
.grid.grid-4-5 .box { width: 24.8%; height: 19.8vh; }

/* 5 Columns */
.grid.grid-5-1 .box { width: 19.8%; height: 100vh; }
.grid.grid-5-2 .box { width: 19.8%; height: 49.8vh; }
.grid.grid-5-3 .box { width: 19.8%; height: 33.2vh; }
.grid.grid-5-4 .box { width: 19.8%; height: 24.8vh; }
.grid.grid-5-5 .box { width: 19.8%; height: 19.8vh; }
